@section scripts {
    @Scripts.Render("~/bundles/func")
}

<script src="@Url.Content("~/scripts/jquery-2.1.4.min.js")" type="text/javascript"></script>
<div class="page-header">
    <h1>Управление списком фильмов</h1>
</div>
<div class="row">
    
        <div class="panel panel-default col-md-4" data-bind="visible: view">
            <div class="panel-heading">
                <h2 class="panel-title">Фильмы</h2>
            </div>
            <div class="panel-body">
                <table class=" table">
                    <tr><th>Название фильма</th></tr>
                    <tbody data-bind="foreach: Films">
                        <tr>

                            <td data-bind="text: FilmName"></td></>
                            <td><small><a href="#" data-bind="click: $parent.getFilm">Редактировать</a></small></td>
                            <td><small><a href="#" data-bind="click: $parent.deleteFilm">Удалить</a></small></td>
                        </tr>
                </table>
                <button class="btn btn-primary" data-bind="click: handleCreateClick,visible: view">Добавить</button>

            </div>

        </div>
    


 
        <div class="panel panel-default col-md-4" data-bind="visible: edit">
            <div class="panel-heading">
                <h2 class="panel-title">Редактирование фильма</h2>
            </div>

            <div class="panel-body">
                <form role="form" class="form-horizontal" data-bind="submit: editFilm">
                    <div class="form-group">
                        <label for="editFilm" class="col-sm-2 control-label">Название:</label>
                        <div class="col-sm-offset-1 col-sm-8">
                            <input type="text" class="form-control" id="editFilm" data-bind="value: Film().FilmName" required pattern="^[а-яА-ЯёЁa-zA-Z0-9]+([\s][а-яА-ЯёЁa-zA-Z0-9]+)*$" placeholder="Название фильма" />
                        </div>
                    </div>
                    <button class="col-sm-offset-1 btn btn-default" data-bind="click: handleCancelClick,visible: edit">Отмена</button>
                    <button type="submit" class="col-lg-offset-4 btn btn-success">Сохранить</button>
                </form>
            </div>
        </div>
    <div class="col-md-4" data-bind="visible: edit">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Редактируемые данные</h2>
            </div>
            <table class="table" data-bind="foreach: Film">
                <tr><td>Фильм</td><td data-bind="text: FilmName"></td></tr>
            </table>
        </div>
    </div>

        <div class="panel panel-default col-md-4" data-bind="visible: create">
            <div class="panel-heading">
                <h2 class="panel-title">Добавить фильм</h2>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: addFilm">
                    <div class="form-group" data-bind="with: newFilm">
                        <label for="inputFilmName" class="col-sm-2 control-label">Название:</label>
                        <div class="col-sm-offset-1 col-sm-8">
                            <input type="text" class="form-control" id="inputFilmName"
                                   data-bind="value: FilmName" required pattern="^[а-яА-ЯёЁa-zA-Z0-9]+([\s][а-яА-ЯёЁa-zA-Z0-9]+)*$" placeholder="Название фильма" />
                        </div>

                    </div>
                    <button class="col-sm-offset-1 btn btn-default" data-bind="click: handleCancelClick,visible: create">Отмена</button>

                    <button type="submit" class="col-lg-offset-4 btn btn-success">Добавить</button>
                </form>
            </div>
        </div>
    <div class="alert alert-danger col-sm-5" data-bind="visible: error"><p data-bind="text: error"></p></div>

</div>
