@section scripts {
    @Scripts.Render("~/bundles/func")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/moment")
}

<div class="page-header">
    <h1>Афиша</h1>
</div>

<div class="row">

    <div class="panel panel-default col-md-6" data-bind="visible: view">
    <div class="panel-heading" data-bind="visible: view">
        <h2 class="panel-title">Сеансы</h2>
    </div>
    <div class="panel-body">
        <table class="table">
            <tr><th>Кинотеатр</th><th>Фильм</th><th>Дата и время</th></tr>
            <tbody data-bind ="foreach: Affiche">
                <tr> <td data-bind="text: CinemaName"></td> <td data-bind="text: FilmName"> </td> <td data-bind="text: moment(SeanceDT).locale('ru').format('lll')"></td></tr>
            </tbody>
        </table>
        <button class=" btn btn-default" data-bind="click: AllAffiche">Вся афиша</button>
    </div>
        
</div>
    <form data-bind="submit: SearchCinema">
        <div class="form-group">
            <label for="searchCinema" class="col-sm-2 control-label">Поиск по кинотеатру:</label>
            <div class="col-sm-2 ">
                <input type="text" class="col-sm-2 form-control" id="searchCinema" data-bind="value: stringSearchCinema" required pattern="^[а-яА-ЯёЁa-zA-Z0-9]+([\s][а-яА-ЯёЁa-zA-Z0-9]+)*$" placeholder="Название кинотеатра" />

            </div>
            <button type="submit" class="btn btn-default">Поиск</button>
        </div>
        
    </form>
       
    <form data-bind="submit: SearchFilm">
        <div class="form-group">
            <label for="searchFilm" class="col-sm-2 control-label">Поиск по фильму:</label>
            <div class="col-sm-2">
                <input type="text" class="col-sm-2 form-control" id="searchFiilm" data-bind="value: stringSearchFilm" required pattern="^[а-яА-ЯёЁa-zA-Z0-9]+([\s][а-яА-ЯёЁa-zA-Z0-9]+)*$" placeholder="Название фильма" />
            </div>
            <button type="submit" class=" btn btn-default">Поиск</button>

        </div>
    </form>
    <form data-bind="submit: SearchDT">
        <div class="form-group">
            <label for="searchTime" class="col-sm-2 control-label">Поиск по времени:</label>
            <div class="col-sm-2">
                <input class="form-control" required="" type="datetime-local" max="9999-12-31 00:00" id="fromtDT" data-bind="value: fromDT" />
                <input class="form-control" required="" type="datetime-local" max="9999-12-31 00:00" id="beforeDT" data-bind="value: beforeDT" />

            </div>
            <button type="submit" class=" btn btn-default">Поиск</button>

        </div>
    </form>

    <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
</div>


    